{% extends 'base.html' %}


{% block content %}
    <br>
    <br>
    <br>
    <div class="container z-depth-1 py-5 my-5">
        <section class="mx-md-5 text-center text-lg-left">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="row p-5">
                        <div class="col-lg-4 d-flex mb-2 align-items-start">
                            <div class=" z-depth-3 avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                                <img src="{{ teacher.portrait.url }}" alt="woman avatar" style="width: 100%" class="rounded">
                            </div>

                        </div>
                        <div class="col-lg-8 d-flex flex-column justify-content-between">
                            <p class="text-muted mb-4 text-break">{{ teacher.description }}</p>
                            <div>
                                <p class="font-weight-bold lead mb-2"><strong>{{ teacher.full_name }}</strong></p>
                                <p class="flex-grow-1 font-weight-bold text-muted">{{ teacher.position }}</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>    </div>
    <br>
    <br>
    <br>


{% endblock %}