{% extends 'base.html' %} It is {% now "jS F Y H:i" %} {% now "Y" as
current_year %} {% block content %}
<div class="divider"></div>
<div class="content">
  <div class="container">
    <h1>Для абитуриентов:</h1>
    <section class="posts-con">
      {% for enrollee in enrollees %}
      <article>
        <div class="info">
          <h3>{{ enrollee.title }}</h3>
          <p>{{ enrollee.description|safe }}</p>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</div>

{% endblock %}
