{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container my-5">
    <section class="dark-grey-text">
        <h3 class="text-center font-weight-bold mb-4 pb-2">О нас
        </h3>
        <hr class="w-header">
        <div class="row">
              {% include "aboutUs/aboutUs.component.html" with link="/files/mission_spo.pdf" title="Миссия СПО (Колледж)"%} 
              {% include "aboutUs/aboutUs.component.html" with link="/files/goals.pdf" title="Цели задачи СПО (Колледж)"%} 
              {% include "aboutUs/aboutUs.component.html" with link="/files/key_tasks.pdf" title="Ключевые задачи СПО (Колледж)"%}
              {% include "aboutUs/aboutUs.component.html" with link="provisions" title="Положения" new_page=True%}
{#              {% include "aboutUs/aboutUs.component.html" with link="plans" title="Планы" new_page=True%}#}
              {% include "aboutUs/aboutUs.component.html" with link="job_introduction" title="Должностные инструкции" new_page=True%}
              {% include "aboutUs/aboutUs.component.html" with link="directorate" title="Директорат СПО (Колледж)" new_page=True%}
        </div>
    </section>


</div>

{% endblock %}