{% extends 'base.html' %}


{% block content %}

    <br>
    <br>
    <br>
    <style>
        .card-wrapper {
            margin-bottom: 5px;
        }

        .card-image .card .card-img-wrapper {
            height: 100%;
        }

        .card-image .card .card-body {
            display: none;
        }

        .card-image-title-description .card .card-img-wrapper {
            max-height: 160px;
        }

        .card-image-title-description .card {
            position: relative;
            min-height: 200px;
        }

        .card-image-title-description .card .card-body {
            height: auto;
            position: relative;
            top: 0;
            margin-bottom: -70px;
        }

        .card-image-title-description .card:hover .card-body {
            top: -70px;
        }

        .card-image-title-description .card .card-body .card-title {
            margin-bottom: .75rem;
        }

        .card {
            display: inline-block;
            position: relative;
            overflow: hidden;
            min-height: 300px;
            height: 100%;
        }

        .card:hover {
            box-shadow: 8px 12px 31px -10px #ab98ab;
        }

        .card-img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            overflow: hidden;
        }

        .card-img-wrapper img {
            transition: 1.5s ease;
        }

        .card:hover .card-img-wrapper img {
            transform: scale(1.15);
        }

        .card-body .card-title {
            margin-bottom: calc(50% + 20px);
            transition: 1.5s ease;
        }

        .card:hover .card-body .card-title {
            margin-bottom: .75rem;
        }

        .card-body {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 25%;
            background-color: #fff;
            transition: 1.5s ease;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-content {
            left: 0;
            right: 0;
            overflow: hidden;
            width: 100%;
            height: auto;
            transition: 1.5s ease;
        }

        .card:hover .card-body {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 80%;
        }

        .card:hover .card-content {
            bottom: 0;
        }

        body {
            margin: 0;
            background-image: linear-gradient(to right, #ECE9E6, #FFFFFF);
        }
    </style>
    <div class="row text-center justify-content-center">
        <div class="container">
            <div class="row">
                {% for n in news %}


                    <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img class="card-img-top"
                                     src="{{ n.images.url }}"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ n.title }}</h5>
                                <p class="card-text">{{ n.description }}</p>
                                <a style="color: white" href="#"
                                   class="btn btn-primary rounded-pill">Go
                                    somewhere</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>


    </div>
    <br>
    <br>
    <br>


{% endblock %}