{% load static %}

<div class="col-12 mb-4">
    <a style="color: #6da4b5" target="_blank" href="{% static link|default:" #" %}" class="card hoverable">
        <div class="card-body">
            <div class="row text-sm-center text-md-left">
                <span class="col-sm-12 col-md-1 text-sm-center text-md-left rounded-circle">
                    <i class="fas fa-graduation-cap" style="font-size: 48px;"></i>
                </span>
                <div class=" media-body col-sm-12 col-md-11">
                    <h3 class="dark-grey-text mt-3 h1" style="font-family: 'BebasNeue'; font-size: 25px;">
                        {{ title|default:"Нет названия" }}</h3>
                </div>
            </div>
        </div>
    </a>
</div>